{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block content %}
<h1 class="text-center mt-3">Welcome to Meutube</h1>

    {% if request.user.is_authenticated %}
<a class="btn btn-primary mb-3" href="{% url 'list_create' %}">Create Post</a>
    {% else %}
<a class="btn btn-primary mb-3" href="{% url 'login' %}">Create Post</a>
    {% endif %}

<div class="container row gap-3">
    {% for abc in abc_list %}
    <div class="card" style="width: 18rem;">
    <a href="{% url 'play_video' abc.id %}"><img src="{{ abc.photo.url }}" class="card-img-top" alt="Photo"></a>
        
        {% if abc.video %}
        <div id="video-{{ abc.id }}" style="display: none;">
            <video width="100%" controls>
                <source src="{{ abc.video.url }}" type="video/mp4"></video>
        </div>
        {% endif %}

        <div class="card-body">
            <h5 class="card-title">{{ abc.user.username }}</h5>
            <p class="card-text">{{ abc.text }}</p>
            {% if request.user == abc.user %}
            <a href="{% url 'list_edit' abc.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'list_delete' abc.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
