{% extends "layout.html" %}

{% block title %}
Play Video
{% endblock %}

{% block content %}
<h1 class="text-center mt-3">Download and watch</h1>

<div class="d-flex justify-content-center">
    <video width="80%" controls autoplay>
        <source src="{{ abc.video.url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>

<div class="text-center mt-3">
    <p><strong>{{ abc.user.username }}</strong>: {{ abc.text }}</p>
    <a href="{% url 'abc_list' %}" class="btn btn-secondary mt-2">Back to Meutube</a>
</div>
{% endblock %}
